.university {
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    color: #000000;
  }

  &__selection {
    display: flex;
    flex-direction: column;
    gap: 65px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
  }

  &__selected-faculty {
    padding: 25px;
    width: 540px;
    height: 215px;
    background: #FFFFFF;
    border: 1px solid #18A0FB;
    box-shadow: 0px 0px 6px rgba(24, 160, 251, 0.5);
    border-radius: 20px;
  }

  &__score {
    padding: 25px;
    width: 540px;
    height: 198px;
    background: #FFFFFF;
    border: 1px solid #18A0FB;
    box-shadow: 0px 0px 6px rgba(24, 160, 251, 0.5);
    border-radius: 20px;
  }
}